
/.idea/
/.git/
/.composer/
/.github/
/bin/rr
/.env.local
/.php-cs-fixer.dist.php
/.phpcs-cache
/compose.override.yaml
/compose.yaml
/composer.sh
/console.sh
/Makefile
/phpcs.xml
/phpstan.neon
/phpunit.dist.xml
/var/
/vendor/
